<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shops - Revel Admin', 'none')" />
<body>
	<div id="app">
    	<span th:replace="sidebar :: sidebar"></span>
       	<div id="main">
            
        	<span th:replace="header :: header"></span>     
			<div class="main-content container-fluid">
     		<span th:replace="locale :: locate"></span>
    		<section class="section">
        	<div class="card">
            	<div class="card-header">
                	<h3>Manage Shops </h3> <br>
     
            	</div>
            		
            	<div class="card-body">
           			<div th:replace="fragments :: search_form_and_message"></div>     
                	<table class="table table-bordered table-striped table-hover table-responsive-xl">
						<thead class="thead-dark">
							<tr>
								<th th:replace="fragments :: column_link('id', 'ID', 'none')" />
								<th>Image</th>
								<th th:replace="fragments :: column_link('name', 'Shop Name', 'none')" />
								<th th:replace="fragments :: column_link('alias', 'Description', 'none')" />
								<th th:replace="fragments :: column_link('deliveryAddress', 'Delivery Address', 'none')" />
								<th th:replace="fragments :: column_link('customer', 'Email', 'none')" />
								
								<th th:replace="fragments :: column_link('enabled', 'Status', 'none')" />					
								<th>Action</th>
							</tr>								
						</thead>
						
						<tbody>
							<tr th:each="shop : ${listShops}">
								<td>[[${shop.id}]]</td>
								<td>
									<img th:src="@{${shop.imagePath}}" style="height: 50px" width="50px">
								</td>
								<td>[[${shop.name}]]</td>
								<td>[[${shop.alias}]]</td>
								<td>[[${shop.deliveryAddress}]]</td>	
								<td>[[${shop.customer.email}]]</td>	
								
								<td>
									<div th:replace="fragments :: status(${shop.enabled}, 'shop', '/shops/' + ${shop.id})"></div>
								</td>
								
								<td>
									<a class="fas fa-file-alt icon-green link-detail"
										th:href="@{'/shops/detail/' + ${shop.id}}"
										title="View details of this shop"
										></a>					
									&nbsp; 
									<div th:replace="fragments :: delete('shop', ${shop.id}, '/shops/delete/' + ${shop.id}, true)"></div>						
								</td>					
							</tr>
						</tbody>
					</table>        
            	</div>
            
           
				<div th:replace="fragments :: pagination('shops')"></div>
            
            	<div th:replace="modal_fragments :: confirm_modal" /></div>
            
           		<div class="modal fade" id="detailModal">
					<div class="modal-dialog modal-lg">
						<div class="modal-content"></div>
					</div>
				</div>	
        	</div>
    	</section>
	</div>

			<span th:replace="footer:: footer"></span>
    	</div>
    </div>
    
<script type="text/javascript">
	moduleURL = "[[@{/shops}]]";
	entityName = "shop";
	
	$(document).ready(function() {
		handleDefaultDetailLinkClick();
	});
</script>
	<script th:src="@{/js/common_list.js}"></script>
    <script th:src="@{/js/feather-icons/feather.min.js}"></script>
    <script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>  
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
