<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('User - Revel Admin', 'none')" />
<body>
    <div id="app">
       <span th:replace="sidebar :: sidebar"></span>
        <div id="main">
            
           <span th:replace="header :: header"></span>
            
<div class="main-content container-fluid">
    <span th:replace="locale :: locate"></span>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h3>Manage Users </h3> <br>
                <a th:href="@{/users/new}" class="fas fa-user-plus fa-2x mr-2" title="Add New User"></a>
                &nbsp;&nbsp; 
                <a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x mr-2 icon-success" title="Export to CSV"></a>
                &nbsp;&nbsp; 
                <a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x mr-2 icon-excel" title="Export to Excel"></a>
                &nbsp;&nbsp; 
                <a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-red" title="Export to PDF"></a>
            </div>
			
			   <div th:replace="fragments :: search_form_and_message"></div>
			
            <div class="card-body">
               <table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th class="hideable-column">
						<th th:replace="fragments :: column_link('id', 'User ID', 'tag')" />					
					
					<th>Photos</th>
					
					<th class="hideable-column">
						<th th:replace="fragments :: column_link('email', 'E-mail', 'tag')" />
						
					<th th:replace="fragments :: column_link('firstName', 'First Name', 'none')" />
					<th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')" />
					
					<th>Roles</th>
					<th th:replace="fragments :: column_link('enabled', 'Status', 'none')" />
					<th>Action</th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td class="hideable-column">[[${user.id}]]</td>
					<td>
						<div th:replace="fragments :: user_photos"></div>
					</td>
					<td class="hideable-column">[[${user.email}]]</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastName}]]</td>
					<td>[[${user.roles}]]</td>
					
					<td>
						<div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
					</td>
					
					<td>
						<div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
						&nbsp;&nbsp;
						<div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
					</td>
				</tr>
			</tbody>
		</table>
            </div>
            
           <div th:replace="fragments :: pagination('users')"></div>
            
            <div th:replace="modal_fragments :: confirm_modal" /></div>
	
        </div>

    </section>
</div>

	<span th:replace="footer:: footer"></span>
        </div>
    </div>
<script type="text/javascript">
	moduleURL = "[[@{/users}]]";
	entityName = "user";
</script>
	<script th:src="@{/js/common_list.js}"></script>
    <script th:src="@{/js/feather-icons/feather.min.js}"></script>
    <script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>  
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
