<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	    <div class="top-product" th:fragment="content">
        <div class="container">
            <div class="row gy-3 justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8" th:each="productSection : ${section.productSections}" th:with="product = ${productSection.product}">
                    <div class="product-card">
                        <div class="part-txt">
                            <h4 class="price">$645.00 <span>759.99</span></h4>
                            <h3 class="product-name"><span>[[${product.shortName}]]</span> </h3>
                            <a th:href="@{${product.URI}}" th:title="${product.name}" class="def-btn-2">Buy Now</a>
                        </div>
                        <div class="part-img">
                            <img th:src="@{${product.mainImagePath}}" alt="Product">
                        </div>
                    </div>
                </div>
              
            
            </div>
        </div>
    </div>
</body>
</html>