<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments :: page_head(${pageTitle}, 'tag')" />
	<link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/star-rating/js/star-rating.js}" type="text/javascript"></script>
	<link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>
</head>

<body class="inner">
    <!-- preloader begin -->
    <div class="preloader">
        <img th:src="@{/images/loader.gif}" alt="Gif">
    </div>
    <!-- preloader end -->

    <!--------------------------------- HEADER CART LIST START --------------------------------->
    <span th:replace="header_cart:: header_cart"></span>
    <!--------------------------------- HEADER CART LIST END --------------------------------->

    <!--------------------------------- HEADER WISH LIST START --------------------------------->
  	<span th:replace="header_wish:: header_wish"></span>
    <!--------------------------------- HEADER WISH LIST END --------------------------------->

    <!--------------------------------- HEADER SECTION START --------------------------------->
    <span th:replace="header_section2:: content"></span>
    <!--------------------------------- HEADER SECTION END --------------------------------->

	 <!--------------------------------- BANNER SECTION START --------------------------------->
    <div class="banner banner-inner">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-9 col-8">
                    <div class="breadcrumb-txt">
                        <h1>Shop Page</h1>
                        <ul>
                            <li><a th:href="@{/}"><i class="fa-regular fa-house"></i></a></li>
                            <li>/</li>
                            <li>Shop</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-3 col-4">
                    <div class="part-img">
                        <img th:src="@{/images/breadcrumb-img.png}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------- BANNER SECTION END --------------------------------->
    
       <!--------------------------------- SHOP SECTION START --------------------------------->
    <div class="shop-wrap py-120">
        <div class="container">
            <div class="row g-4">
                <div class="col-xl-3 col-lg-4 sidebar-col">
                    <div class="shop-sidebar">
                        <div class="sidebar-box">
                            <h3 class="sidebar-title">By Brands</h3>
                            <ul class="brand-filter" id="brandFilter">
                             <th:block th:each="section : ${listSections}">  
                                <li th:each="brandSection : ${section.brandSections}" th:with="brand = ${brandSection.brand}">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" value="" id="brand1">
                                        <label class="form-check-label" for="brand1"><a th:href="@{'/brand/' + ${brand.id}}"><span style="color: red;" class="name">[[${brand.name}]]</span></a></label>
                                    </div>
                                </li>
                               </th:block>
                            </ul>
                        </div>
                      
                        <div class="sidebar-box">
                            <h3 class="sidebar-title">Categories</h3>
                            <ul class="brand-filter color-filter"  id="colorFilter">
                            <th:block th:each="parent : ${listCategoryParents}">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="Black">
                                        <label class="form-check-label" for="Black"><a style="color: red;" th:href="@{'/c/' + ${parent.alias}}">[[${parent.name}]]</a></label>
                                    </div>
                                </li>
                                </th:block>
                              
                            </ul>
                        </div>
             
                       
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="shop-top-bar">
                        <div class="row align-items-center">
                            <div class="col-md-3 d-md-block d-none">
                                <h3 id="shopViewType">Shop Grid</h3>
                            </div>
                            <div class="col-md-9">
                                <div class="top-bar-right">
                                   <div class="input-group">
                                  
								  <div class="form-outline">
								    <input type="search" class="form-control" placeholder="Search ..." />
								  </div>
								  <button type="button" class="btn btn-danger">
								    <i class="fas fa-search"></i>
								  </button>
								</div>
								
                                </div>
                            </div>
                        </div>
                    </div>
                    <th:block th:each="product : ${listProducts}">
                  
                    </th:block>
                   <div th:replace="fragments :: pagination('/c/' + ${category.alias}, 'product')"></div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------- SHOP SECTION END --------------------------------->
       <!--------------------------------- FEATURES SECTION START --------------------------------->
 <span th:replace="homepage/feature_section :: content">Feature Section</span>
    <!--------------------------------- FEATURES SECTION END --------------------------------->

  
    <!--------------------------------- FOOTER SECTION END --------------------------------->

    <!--------------------------------- FOOTER SECTION START --------------------------------->
     <span th:replace="footer:: footer"></span>
    <!--------------------------------- FOOTER SECTION END --------------------------------->
	<script type="text/javascript">	
		$(".product-detail-rating-star").rating({
			displayOnly: true,
			hoverOnClera: false,
			showCaption: false,
			theme: 'krajee-svg'
		});
	</script>
    <script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.flagstrap.min.js}"></script>
    <script th:src="@{/vendor/js/slick.min.js}"></script>
    <script th:src="@{/vendor/js/owl.carousel.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.syotimer.min.js}"></script>
    <script th:src="@{/vendor/js/jquery-modal-video.min.js}"></script>
    <script th:src="@{/vendor/js/apexcharts.js}"></script>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/shop-page.js}"></script>

    
</body>

</html>