<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	 <div class="mobile-menu d-lg-none d-block" th:fragment="menu_mobile">
        <div class="mobile-category-list">
            <button class="mobile-menu-close-btn"><i class="fa-solid fa-xmark-large"></i></button>
            <ul class="category-nav">
                <li class="title">All Categories</li>
                <li class="category-item has-sub">
                    <a href="#">
                        <div class="icon">
                            <span><i class="fa-thin fa-user-tie-hair-long"></i></span>
                        </div>
                        <span>Women's Fashion</span>
                    </a>
                    <div class="category-sub-menu">
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-wedding-dress"></i></span> Clothing</h4>
                                <ul>
                                    <li>
                                        <a href="#">Dresses</a>
                                    </li>
                                    <li>
                                        <a href="#">Jeggings</a>
                                    </li>
                                    <li>
                                        <a href="#">Kurtis</a>
                                    </li>
                                    <li>
                                        <a href="#">Palazzo Pants & Culottes</a>
                                    </li>
                                    <li>
                                        <a href="#">Pants</a>
                                    </li>
                                    <li>
                                        <a href="#">Shapewear</a>
                                    </li>
                                    <li>
                                        <a href="#">Skirts</a>
                                    </li>
                                    <li>
                                        <a href="#">Tops</a>
                                    </li>
                                    <li>
                                        <a href="#">T-Shirts</a>
                                    </li>
                                    <li>
                                        <a href="#">Tunics</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-heels"></i></span> Shoes</h4>
                                <ul>
                                    <li>
                                        <a href="#">Ballet Flats</a>
                                    </li>
                                    <li>
                                        <a href="#">Pumps</a>
                                    </li>
                                    <li>
                                        <a href="#">Closed-Toe Wedges</a>
                                    </li>
                                    <li>
                                        <a href="#">Fashion Boots</a>
                                    </li>
                                    <li>
                                        <a href="#">Flat Sandals</a>
                                    </li>
                                    <li>
                                        <a href="#">Flip Flops</a>
                                    </li>
                                    <li>
                                        <a href="#">Heeled Sandals</a>
                                    </li>
                                    <li>
                                        <a href="#">House Slippers</a>
                                    </li>
                                    <li>
                                        <a href="#">Slip-Ons</a>
                                    </li>
                                    <li>
                                        <a href="#">Sneakers</a>
                                    </li>
                                    <li>
                                        <a href="#">Wedge Sandals</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-watch"></i></span> Watches</h4>
                                <ul>
                                    <li>
                                        <a href="#">Fashion</a>
                                    </li>
                                    <li>
                                        <a href="#">Casual</a>
                                    </li>
                                    <li>
                                        <a href="#">Business</a>
                                    </li>
                                    <li>
                                        <a href="#">Sports</a>
                                    </li>
                                    <li>
                                        <a href="#">Accessories</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="category-item">
                    <a href="#">
                        <div class="icon">
                            <span><i class="fa-thin fa-user-tie-hair"></i></span>
                        </div>
                        <span>Men's Fashion</span>
                    </a>
                </li>
                <li class="category-item">
                    <a href="#">
                        <div class="icon">
                            <span><i class="fa-thin fa-camera"></i></span>
                        </div>
                        <span>Photography</span>
                    </a>
                </li>
                <li class="category-item">
                    <a href="#">
                        <div class="icon">
                            <span><i class="fa-thin fa-watch-smart"></i></span>
                        </div>
                        <span>Watches & Accessories</span>
                    </a>
                </li>
                <li class="category-item has-sub">
                    <a href="#">
                        <div class="icon">
                            <span><i class="fa-thin fa-tv-retro"></i></span>
                        </div>
                        <span>TV & Home Appliances</span>
                    </a>
                    <div class="category-sub-menu">
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-television"></i></span> Televisions</h4>
                                <ul>
                                    <li>
                                        <a href="#">Smart Televisions</a>
                                    </li>
                                    <li>
                                        <a href="#">LED Televisions</a>
                                    </li>
                                    <li>
                                        <a href="#">OLED Televisions</a>
                                    </li>
                                    <li>
                                        <a href="#">Other Televisions</a>
                                    </li>
                                    <li>
                                        <a href="#">Mini Televisions</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-speaker"></i></span> Home Audio</h4>
                                <ul>
                                    <li>
                                        <a href="#">Sondbars</a>
                                    </li>
                                    <li>
                                        <a href="#">Home Entertainment</a>
                                    </li>
                                    <li>
                                        <a href="#">Portable Players</a>
                                    </li>
                                    <li>
                                        <a href="#">Fashion Boots</a>
                                    </li>
                                    <li>
                                        <a href="#">Live Sound</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-refrigerator"></i></span> Large Appliances</h4>
                                <ul>
                                    <li>
                                        <a href="#">Refrigerators</a>
                                    </li>
                                    <li>
                                        <a href="#">Freezers</a>
                                    </li>
                                    <li>
                                        <a href="#">Washing Machines</a>
                                    </li>
                                    <li>
                                        <a href="#">Microwave Oven</a>
                                    </li>
                                    <li>
                                        <a href="#">Electric Oven</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-cooking"></i></span> Kitchen Appliances</h4>
                                <ul>
                                    <li>
                                        <a href="#">Rice Cooker</a>
                                    </li>
                                    <li>
                                        <a href="#">Blender, Mixer & Grinder</a>
                                    </li>
                                    <li>
                                        <a href="#">Electric Kettle</a>
                                    </li>
                                    <li>
                                        <a href="#">Juicer & Fruit Extraction</a>
                                    </li>
                                    <li>
                                        <a href="#">Fryer</a>
                                    </li>
                                    <li>
                                        <a href="#">Coffee Machine</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-air-conditioner"></i></span> Cooling & Heating</h4>
                                <ul>
                                    <li>
                                        <a href="#">Air Conditioner</a>
                                    </li>
                                    <li>
                                        <a href="#">Air Coolers</a>
                                    </li>
                                    <li>
                                        <a href="#">Air Purifiers</a>
                                    </li>
                                    <li>
                                        <a href="#">Dehumidifiers</a>
                                    </li>
                                    <li>
                                        <a href="#">Water Heater</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-season"></i></span> Season Sale</h4>
                                <a href="#">
                                    <img th:src="@{/images/mega-menu-bg-2.jpg}" alt="Image">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="category-item">
                    <a href="#">
                        <div class="icon">
                            <span><i class="fa-thin fa-backpack"></i></span>
                        </div>
                        <span>Bags & Shoes</span>
                    </a>
                </li>
                <li class="category-item has-sub">
                    <a href="#">
                        <div class="icon">
                            <span><i class="fa-thin fa-teddy-bear"></i></span>
                        </div>
                        <span>Toys , Kids & Babies</span>
                    </a>
                    <div class="category-sub-menu">
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-baby-boy"></i></span> Mother & Baby</h4>
                                <ul>
                                    <li>
                                        <a href="#">Baby & Toddler Foods</a>
                                    </li>
                                    <li>
                                        <a href="#">Milk Formula</a>
                                    </li>
                                    <li>
                                        <a href="#">Cloth Diapers & Accessories</a>
                                    </li>
                                    <li>
                                        <a href="#">Diaper Bags</a>
                                    </li>
                                    <li>
                                        <a href="#">Wipes & Holders</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-rocking-horse"></i></span> Baby Gear</h4>
                                <ul>
                                    <li>
                                        <a href="#">Baby Walkers</a>
                                    </li>
                                    <li>
                                        <a href="#">Backpacks & Carriers</a>
                                    </li>
                                    <li>
                                        <a href="#">Strollers</a>
                                    </li>
                                    <li>
                                        <a href="#">Swings, Jumpers & Bouncers</a>
                                    </li>
                                    <li>
                                        <a href="#">Activity Gym & Playmats</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h4><span><i class="flaticon-baby-dress"></i></span> Clothing & Accessories</h4>
                                <ul>
                                    <li>
                                        <a href="#">Girls Clothing</a>
                                    </li>
                                    <li>
                                        <a href="#">Girls Shoes</a>
                                    </li>
                                    <li>
                                        <a href="#">Boys Clothing</a>
                                    </li>
                                    <li>
                                        <a href="#">Maternity Wear</a>
                                    </li>
                                    <li>
                                        <a href="#">New Born Unisex (0 - 6 months)</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-12">
                                <h4><span><i class="flaticon-season"></i></span> Season Sale</h4>
                                <a href="#">
                                    <img th:src="@{/images/mega-menu-bg-3.jpg}" alt="Image">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="category-item">
                    <a href="#">
                        <div class="icon">
                            <span><i class="fa-thin fa-headphones-simple"></i></span>
                        </div>
                        <span>Headphone</span>
                    </a>
                </li>
                <li class="category-item">
                    <a href="#">
                        <div class="icon">
                            <span><i class="fa-thin fa-baseball-bat-ball"></i></span>
                        </div>
                        <span>Sports & Outdoor</span>
                    </a>
                </li>
                <li class="category-item">
                    <a href="#">
                        <div class="icon">
                            <span><i class="fa-thin fa-shuffle"></i></span>
                        </div>
                        <span>Other</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="m-main-menu">
            <button class="mobile-menu-close-btn"><i class="fa-solid fa-xmark-large"></i></button>
            <ul class="menu-bar">
                <li class="logo">
                    <img th:src="@{/images/Logo.png}" alt="Logo">
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html" class="dropdown-item">Home Page 01</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="account.html" class="nav-link">Account</a>
                </li>
                <li class="nav-item">
                    <a href="register.html" class="nav-link">Login / Register</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu">
                        <li><a href="shop.html" class="dropdown-item">Shop Left Bar</a></li>
                        <li><a href="shop-right-bar.html" class="dropdown-item">Shop Right Bar</a></li>
                        <li><a href="shop-details.html" class="dropdown-item">Shop Details Page</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="faq.html" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html" class="dropdown-item">Blog Page</a></li>
                        <li><a href="blog-details.html" class="dropdown-item">Blog Details Page</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                    <ul class="dropdown-menu">
                        <li><a href="cart.html" class="dropdown-item">Cart Page</a></li>
                        <li><a href="compare.html" class="dropdown-item">Compare Page</a></li>
                        <li><a href="wishlist.html" class="dropdown-item">Wishlist Page</a></li>
                        <li><a href="register.html" class="dropdown-item">Register Page</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="mobile-nav">
            <li><a role="button" data-target="mobile-category-list" class="m-nav-link"><i class="fa-light fa-grid-2"></i></a></li>
            <li><a href="cart.html" class="m-nav-link"><i class="fa-light fa-cart-shopping"></i></a></li>
            <li><a href="index.html" class="center"><i class="fa-light fa-house"></i></a></li>
            <li><a href="account.html" class="m-nav-link"><i class="fa-light fa-user-large"></i></a></li>
            <li><a role="button" data-target="m-main-menu" class="m-nav-link"><i class="fa-light fa-ellipsis-stroke"></i></a></li>
        </ul>
    </div>
</body>
</html>