<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
    <div id="app">
       <span th:replace="sidebar :: sidebar"></span>
        <div id="main">
            <span th:replace="header :: header"></span>
            
<div class="main-content container-fluid">
     <span th:replace="locale :: locate"></span>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h3>Home Page Customization | [[${pageTitle}]]</h3>
            </div>
           
                
                 <form th:action="@{/sections/save/brand}" th:object="${section}" method="post" onsubmit="processBeforeSubmit()">
					<input type="hidden" th:field="*{id}" />
					<input type="hidden" th:field="*{type}" />
					<input type="hidden" th:field="*{sectionOrder}" />
                 <div class="card-body">
                 <div th:replace="sections/general_section_form :: content">General Section Form</div>
                        <div class="row">
                        
                        	 <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="email-id-column">Brands</label>
                                <select id="brands" multiple class="form-control" style="resize: vertical; height: 200px">
									<option th:each="brand : ${listBrands}" th:value="${brand.id}" th:text="${brand.name}" />
								</select>
                                </div>
	                                <div>
										<input type="button" class="btn btn-secondary m-3" id="buttonAddBrand" value="Choose Brand" />
									</div>	
                            </div>
                            
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="first-name-column">Chosen Brands</label>
                                 <select multiple="multiple" id="chosenBrands" name="chosenBrands" class="form-control" style="resize: vertical; height: 150px">
						<th:block th:each="brandSection : ${section.brandSections}">
						<option th:value="${brandSection.brand.id} + '-' + ${brandSection.id}" th:text="${brandSection.brand.name}" />
						</th:block>
					</select>
                                </div>
                            </div>
                            <div class="m-2">
					<a class="fas fa-trash icon-dark" id="linkRemoveBrand" href="" title="Remove this brand" ></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="fas fa-chevron-up icon-dark" id="linkMoveBrandUp" href="" title="Move this brand up"></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="fas fa-chevron-down icon-dark" id="linkMoveBrandDown" href="" title="Move this brand down"></a>					
				</div>	
                           
                          
                        </div>
                              
                        <div class="clearfix">
                       		<div class="text-center">
								<input type="submit" value="Submit" class="btn btn-primary m-3"  />
								<input type="button" value="Cancel" class="btn btn-danger" id="buttonCancel" />
							</div>     
                        </div>
                         </div>
                    </form>
                    
           
        </div>

    </section>
</div>

<span th:replace="footer:: footer"></span>
        </div>
    </div>
    
<script type="text/javascript">
	contextPath = "[[@{/}]]";
	moduleURL = "[[@{/sections}]]";
			
</script>
	<script th:src="@{/js/common_form.js}"></script>
	<script th:src="@{/js/brand_section_form.js}"></script>
    <script th:src="@{/js/feather-icons/feather.min.js}"></script>
    <script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>  
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
